/** TOC 

	#1 Globals
	#2 Header
	#3 Home Page
	#4 Work Page Landing
	#5 Work Single
	#6 Footer

**/


// #1 Globals
* {
	box-sizing: border-box;
} 

body {
	background: white;
	font-family: 'Montserrat', sans-serif;
}

img {
	max-width: 100%;
}


// #2 Header
header.site-header {
	height: 100px;
	background: #f7f7f7;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;


	@include breakpoint(medium) {
		padding: 10px 100px;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

	}

	@include breakpoint(large) {
		padding: 10px 200px;
	}


	.site-branding {
		width: 230px;
		align-items: center;
		position: relative;
		display: block;
		margin: 10px 0;

		@include breakpoint(medium) {
			width: 180px;
			margin: 0;
		}

		a {
			color: black;
			font-size: 18px;
			line-height: 18px;
			text-transform: uppercase;
			font-weight: bold;
			text-decoration: none;
			transition: color 0.2s ease;

			@include breakpoint(medium) {
				font-size: 20px;
				line-height: 20px;
			}

			&:hover {
				color: lighten(black,50%);
			}
		}

		&.current:after {
			position: absolute;
			content: "";
			left: 0;
			bottom: -5px;
			height: 4px;
			width: 100%;
			background: $blue;
		}
	}

	nav {
		margin: 10px 0;

		@include breakpoint(medium) {
			margin: 0;
		}

		ul {
			display: flex;
			justify-content: flex-start;

			@include breakpoint(medium) {
				justify-content: flex-end;
			}

			li {
				margin: 0 50px 0 0;

				@include breakpoint(medium) {
					margin: 0 0 0 50px;
				}

				a {
					font-weight: 600;
					text-decoration: none;
					text-transform: uppercase;
					color: black;
					position: relative;
					font-size: 14px;

					&:hover {
						color: lighten(black,50%);
					}
				}				

				&.current-menu-item {
					position: relative;

					a {
						color: black;

						&:hover {
							color: lighten(black,50%);
						}

						&:after {
							position: absolute;
							content: "";
							left: 0;
							bottom: -3px;
							height: 3px;
							width: 100%;
							background: $blue;
						}
					}
				}
			}	
		}	
	}
}

body.single header nav ul li#menu-item-18 a {
	color: black;

	&:hover {
		color: lighten(black,50%);
	}

	&:after {
		position: absolute;
		content: "";
		left: 0;
		bottom: -3px;
		height: 3px;
		width: 100%;
		background: $blue;
	}
}

// #3 Home Page
#primary.content-area.home {

	display: grid;
	padding: 50px 10px;
	grid-template-areas: 
		"home";
	grid-template-columns: [home] 1fr;
	//text-align: center;

	@include breakpoint(medium) {
		padding: 50px 100px;
	}

	@include breakpoint(large) {
		padding: 50px 200px;
	}

	main {
		section {
			p {
				font-size: 20px;
				line-height: 30px;
				margin-bottom: 30px;

				&:first-child {
					font-weight: 600;
				}

				@include breakpoint(medium) {
					font-size: 32px;
					line-height: 42px;
				}

				a[href^="mailto:"] {
					color: $blue;
					text-decoration: none;
				}
			}
		}

	}
}


// #4 Work Page Landing
#primary.content-area.work {
	padding: 50px 10px;

	@include breakpoint(medium)  {
		padding: 50px 100px;
	}

	@include breakpoint(large) {
		padding: 50px 200px;
	}

	section {

		@include breakpoint(medium) {
			width: 80%;
		}

		h2 {
			font-size: 26px;
			line-height: 32px;
			font-weight: 600;
			margin-bottom: 10px;

			@include breakpoint(medium) {
				font-size: 32px;
				line-height: 38px;
				margin-bottom: 20px;
			}
		}
		p {
			font-size: 18px;
			line-height: 24px;
			margin-bottom: 10px;

			@include breakpoint(medium) {
				font-size: 20px;
				line-height: 28px;
			}

			a[href^="mailto:"] {
				color: $blue;
				text-decoration: none;
			}
		}
	}

	.projects {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;

		@include breakpoint(medium) {
			flex-direction: row;
		}

		@include breakpoint(large) {
		}


		a.project {
			text-decoration: none;
			color: black;
			position: relative;
			padding: 20px;
			background: #f0f0f0;
			width: 100%;
			margin-bottom: 30px;

			@include breakpoint(medium) {
				width: 30%;
				margin-bottom: 40px;
			}

			@include breakpoint(medium) {
				width: 30%;
				margin-bottom: 50px;
			}

			&:hover {
				opacity: 0.7;
			}

			h3 {
				font-weight: 600;
				font-size: 16px;
				line-height: 20px;

			}

			span.type {
				font-size: 14px;

			}

			img {
				display: block;
				object-position: 0 0;
				object-fit: contain;
				margin-bottom: 5px;
			}

			button {
				cursor: pointer;
				display: block;
				margin-top: 10px;
				background: lightgray;
				padding: 10px 30px;
				border: none;
				border-radius: 3px;
				font-weight: 600;
				font-size: 12px;
				text-transform: uppercase;
			}
		}
	}
}

// #5 Work Single
#primary.content-area.work-single {
	padding: 50px 10px;

	@include breakpoint(medium) {
		padding: 50px 100px;
	}

	@include breakpoint(large) {
		padding: 50px 200px;
	}

	section {
		h2 {
			font-size: 26px;
			line-height: 32px;
			font-weight: 600;
			margin-bottom: 10px;

			@include breakpoint(medium) {
				font-size: 32px;
				line-height: 38px;
				margin-bottom: 20px;
			}
		}
	}

	.project-meta {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-bottom: 30px;

		@include breakpoint(medium) {
			flex-direction: row;
			justify-content: flex-start;
		}

		dl {
			font-size: 14px;
			width: 100%;
			margin: 10px 0;

			@include breakpoint(medium) {
				width: 33.333333%;
				margin: 0 20px 0 0;
			}

			dt {
				font-weight: 600;
				margin-bottom: 2px;
			}

			dd {
				line-height: 18px;
			}
		}


	}

	.project-image {
		padding: 30px 0;
		text-align: center;

		@include breakpoint(medium) {
			padding: 30px 0;
		}

		figure {
			display: inline-block;

			img {
				object-fit: scale-down;
				max-height: 500px;
				border: solid 1px #ddd;
				margin-bottom: 4px;
			}

			figcaption {
				text-align: left;
				color: lighten(black, 40%);
				font-size: 13px;
			}
		}


	}

	.project-content {
		padding: 30px 0;

		@include breakpoint(medium) {
			padding: 30px 0;
		}

		p {
			font-size: 18px;
			line-height: 26px;
			margin-bottom: 20px;
		}

		ul {
			margin: 15px 0;

			li {
				font-size: 18px;
				line-height: 26px;
				list-style: disc;
				margin-left: 40px;
				margin-bottom: 5px;
			}
		}

		h3 {
			font-size: 22px;
			line-height: 28px;
			font-weight: 600;
			margin-bottom: 3px;
		}
	}

	.view-project {
		display: flex;
		justify-content: center;

		a {
			display: inline-block;
			background: lighten($blue,50%);
			color: darken($blue,10%);
			padding: 15px 45px;
			border-radius: 3px;
			font-weight: 600;
			text-transform: uppercase;
			text-decoration: none;
			font-size: 14px;
			transition: all 0.2s ease;

			&:hover {
				background: lighten($blue,50%);
				color: darken($blue,10%);
			}
		}
	}
}

// #6 Footer
footer.site-footer {
	padding: 10px;
	display: grid;
	grid-template-areas: 
		"footer";
	grid-template-columns: [footer] 1fr;
	text-align: center;

	p {
		font-size: 14px;
		margin: 3px 0;

		a {
			color: $blue;
			text-decoration: none;
		}
	}

}

